.page {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.page h1, .page h2 {
  margin: 16px 0;
}

.page h3 {
  margin: 14px 0;
  font-size: 1.25rem;
}

.page h1:first-child {
  margin-top: 0;
}

.page p {
  margin: 12px 0;
}

.page p:has(> img) {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.page ul {
  margin: 8px 16px;
}

.page ul > li {
  margin: 8px 0;
  font-size: 0.875rem;
}

.page ul > li:first-child {
  margin-top: 0;
}

.page ul > li:last-child {
  margin-bottom: 0;
}

.page p, .page ul {
  line-height: 1.5rem;
}

.page pre {
  align-self: center;
  width: 256px;
  margin: 16px 0;
  padding: 16px;
  overflow-x: scroll;
  background: var(--color-primary);
  border: 1px solid var(--color-text);
}

.page img {
  max-width: 80%;
  height: auto;
}

@media (min-width: 640px) {
  .page pre {
    width: 512px;
  }

  .page img {
    max-width: 50%;
  }
}

main:has(.page) {
  margin: 0;
  background: var(--color-secondary);
  opacity: 0.8;
}

@media (min-width: 768px) {
  main:has(.page) {
    padding: 0 4%;
  }
}
