@import url('/css/fa-icons.min.css');
@import url('/css/fa-icons-solid.min.css');
@import url('/css/fa-icons-brands.min.css');

:root {
  --color-primary: rgb(40, 40, 43);
  --color-secondary: rgb(52, 52, 52);
  --color-text: rgb(250, 213, 165);
  --color-text-accent: rgb(218, 165, 32);
  --color-text-error: rgb(255, 49, 49);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

html {
  font-size: 100%;
}

body {
  font-family: var(--font-orbitron);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  max-width: 100vw;
}

a {
  text-decoration: none;
}

button {
  display: inline-flex;
  cursor: pointer;
}

a, button {
  color: inherit;
  touch-action: manipulation;
}

input {
  color: inherit;
  caret-color: currentColor;
}

input, button {
  background: inherit;
  border: none;
}

input:focus, button:focus {
  outline: none;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  word-spacing: calc((2 / 16) * 1rem);
  letter-spacing: calc((1 / 16) * 0.5rem);
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

i {
  color: inherit;
}
