.layout {
  display: flex;
  min-height: 100%;
  background: url('/background-geometry.png') round fixed var(--color-secondary);
  background-blend-mode: luminosity;
}

.layout > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.layout > div > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.layout header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--color-primary);
  opacity: 0.8;
}

.layout main {
  display: flex;
  flex: 1;
}

.layout footer {
  background: var(--color-primary);
  opacity: 0.8;
}
