.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding: 24px;
}

@media (min-width: 768px) {
  .navbar {
    justify-content: normal;
    align-items: normal;
  }
}

.navbar > a {
  display: inline-flex;
  align-items: center;
  align-self: center;
  column-gap: 8px;
}

.navbar > a > img {
  width: 2rem;
  height: 2rem;
}

.navbar > a > h3 {
  font-family: var(--font-monoton);
  color: var(--color-text-accent);
  text-transform: uppercase;
}

.navbar > div {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

@media (min-width: 768px) {
  .navbar > div {
    flex: 1;
  }
}

.navbar > div > ul {
  font-size: 0.875rem;
}

.navbar > div > ul > li {
  margin: 4px;
}

.navbar > div > ul > li > button {
  width: 100%;
  padding: 8px;
}

.navbar > form {
  align-self: center;
}
