.sign-out-form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.sign-out-form > button {
  padding: 8px;
  color: var(--color-secondary);
  background: var(--color-text);
  font-weight: 500;
}
